<!-- templates/add_user.html -->
{% extends 'master.html' %}

{% block title %}Subscription Details | Your Space{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Subscription Details</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="form-group col">
                    {{ form.name.label}} {{ form.name(class="form-control") }}
                </div>
                <div class="form-group col-1">
                    {{ form.is_active.label }} {{ form.is_active(class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    {{ form.hours.label }} {{ form.hours(class="form-control") }}
                </div>
                <div class="form-group col">
                    {{ form.price.label}} {{ form.price(class="form-control") }}
                </div>
            </div>
            <div class="form-group">
                {{ form.description.label }} {{ form.description(class="form-control") }}
            </div>
        </form>

        <hr>
        <div class="table-container">
            <a class="sub_table_title">Customers</a>
            <table class="">
                <tr class="table-row">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Remaining</th>
                    <th>Start Date</th>
                </tr>
                {% for customer in subscription.customer %}
                <tr class="table-row">
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.subscription_remaining }}</td>
                    <td>{{ customer.subscription_startdate }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
