<!-- templates/add_user.html -->
{% extends 'master.html' %}

{% block title %}Package Details | Your Space{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Package Details</h1>
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }} {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.description.label }} {{ form.description(class="form-control") }}
            </div>
        </form>

        <hr>
        <div class="table-container">
            <a class="sub_table_title">Pricing Rules</a>
            <table class="">
                <tr class="table-row">
                    <th>Rule ID</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Cost</th>
                </tr>
                {% for pricing_rule in package.pricing_rules %}
                <tr class="table-row">
                    <td>{{ pricing_rule.id }}</td>
                    <td>{{ pricing_rule.from_ }}</td>
                    <td>{{ pricing_rule.to_ }}</td>
                    <td>{{ pricing_rule.hourly_rate }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
